<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <location path="Telerik.Web.UI.WebResource.axd"/>

  <location path="s/PreEvaluacion.aspx">

    <system.web>
      <authorization>
        <allow users="?"/>
        <!--A question mark (?) denies anonymous users-->
      </authorization>
    </system.web>
  </location>

  <location path="s/Evaluacion.aspx">

    <system.web>
      <authorization>
        <allow users="?"/>
        <!--A question mark (?) denies anonymous users-->
      </authorization>
    </system.web>
  </location>

  <system.web>


    <authentication mode="Forms">
      <forms loginUrl="s/Login.aspx" defaultUrl="s/Inicio.aspx" slidingExpiration="true" timeout="40" name=".Auth" protection="All"/>
    </authentication>

    <authorization>
      <deny users="?"></deny>

    </authorization>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" executionTimeout="240" maxRequestLength="20480"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="20971520"/>

      </requestFiltering>
    </security>
  </system.webServer>

</configuration>